In [ ]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('../../')

import os
os.environ["CUDA_VISIBLE_DEVICES"] = '0'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
from personalized_nlp.datasets.emotions_perspective.emotions_perspectives import EmotionsPerspectiveDataModule
import torch
import numpy as np
import random

torch.cuda.empty_cache()

def seed_everything():
    torch.manual_seed(0)
    random.seed(0)
    np.random.seed(0)

In [ ]:
datamodule = EmotionsPerspectiveDataModule(normalize=True, batch_size=1000)

In [ ]:
datamodule.prepare_data()
datamodule.setup()

In [ ]:
TEST_FOLD = 0 
test_text_ids = []
for batch in datamodule.test_dataloader(test_fold=TEST_FOLD):
    test_text_ids.extend(batch[0]['text_ids'].tolist())
datamodule.data.iloc[test_text_ids]

      text_id                                               text    split
2017     2017  Inspired by the following posts, I am writing ...  future2
37         37  I have many reservations about Dr. Turowska. S...  future2
96         96  I judge the Doctor well because, just after th...  future2
5068     5068  I once had a chance to see the room and contac...  present
2389     2389  We spent one night here on our way back from M...  future2
...       ...                                                ...      ...
199       199  The hotel visited me in May at a time when it ...  future2
2014     2014  For the time being, the first attempts at intr...  future2
65         65  The first impression is not the best because o...  future2
2350     2350  The doctors from Olsztyn do not yet know why S...  future2
2246     2246  We came to the Riva del Garda late at night. A...  future2

[138 rows x 3 columns]

In [ ]:
TEST_FOLD = 0 
test_text_ids = []
for batch in datamodule.train_dataloader(test_fold=TEST_FOLD):
    test_text_ids.extend(batch[0]['text_ids'].tolist())
datamodule.data.iloc[test_text_ids]

      text_id                                               text    split
1619     1619  Hopeless doctor, the child treats during the e...  present
3390     3390  KARCHER Evaporator KST2 SC2 1500W If someone n...  present
5766     5766  A very successful stay. We received an apartme...  present
3965     3965  Hello : ) My husband has a very serious backbo...     past
2736     2736  Everyone writes that your ENT specialist is a ...  present
...       ...                                                ...      ...
2445     2445  Located 2km from the centre of Funchal in the ...     past
3695     3695  Course : German A 2 / E Rating : super visitor...  present
2074     2074  You can spend time in the hotel. The food is g...  present
2813     2813  He's not an angel, he's a bad man! ! ! ! ! ! !...     past
2102     2102  Despite the dynamic growth in Rio de Janeiro, ...  present

[4190 rows x 3 columns]

In [ ]:
TEST_FOLD = 0 
test_text_ids = []
for batch in datamodule.val_dataloader(test_fold=TEST_FOLD):
    test_text_ids.extend(batch[0]['text_ids'].tolist())
datamodule.data.iloc[test_text_ids]

      text_id                                               text    split
2817     2817  Armani , Versce , Ferragamo , Missoni , Bulgar...  future1
2996     2996  Beautifully located hotel about 1 km from the ...  future1
4227     4227  "I have been observing the development of the ...  future1
4402     4402  If it's not a slat for that price. There's alm...  future1
4450     4450  She was in KliczkÃ³w eight years ago and she le...  future1
...       ...                                                ...      ...
4425     4425  The Doctor was given by a cardiologist who, af...  future1
3026     3026  Dirt, once again dirt, gray toilet paper, brok...  future1
4286     4286  In short: I feel like to throw this case out t...  future1
4408     4408  The only advantage of this hotel is that it is...  future1
4457     4457  "It's bad, but it was worse. It could be bette...  future1

[131 rows x 3 columns]

In [ ]:
df_past = datamodule.annotations_with_data.loc[datamodule.annotations_with_data.split == 'past']

In [ ]:
df_past.head()

,text_id,annotator_id,joy,trust,anticipation,surprise,fear,sadness,disgust,anger,valence,arousal,fold,text,split
29,2025,9,0.333333,0.666667,0.000000,0.666667,0.0,0.0,0.0,0.000000,0.666667,0.333333,9,"As for the screens, I must say that this is on...",past
30,2025,10,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.333333,0.333333,0.333333,0,"As for the screens, I must say that this is on...",past
33,3573,15,0.000000,0.000000,0.333333,0.000000,0.0,0.0,0.0,0.000000,0.500000,0.333333,3,""" The questions are usually related to the dis...",past
36,3732,17,0.666667,0.333333,0.666667,0.000000,0.0,0.0,0.0,0.000000,0.666667,0.666667,8,We were with our husband in Borowy Manor in Ju...,past
37,3732,18,0.666667,0.666667,0.666667,0.000000,0.0,0.0,0.0,0.000000,0.833333,0.666667,5,We were with our husband in Borowy Manor in Ju...,past